<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="#">
    Admin Dashboard
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('dashboarda')}}"><i class="fa fa-fw fa-home"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Customers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Summary</a>
          <a class="dropdown-item" href="#">Add new Customer</a>
         </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gift Tokens
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Summary</a>
          <a class="dropdown-item" href="#">Add Gift Items</a>
         </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add Category</a>
         </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Logistics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Summary</a>
          <a class="dropdown-item" href="#">Add Logistic</a>
          <a class="dropdown-item" href="{{url_for('tracking')}}" target="_blank">Logistics Tracking</a>
         </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Request
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" target="_blank">Summary</a>
       </div>
      </li>
    </ul>
  </div>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mx-auto">
	      <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		 <i class="fa fa-cog fa-fw"></i>Setting 
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="#">Change Password</a>
		</li>
	       <li class="nav-item">
		 <a class="nav-link" href="{{ url_for('notifications') }}" target="_blank"><i class='far fa-bell' style='font-size:24px'></i></a>
	       </li>
	       <li class="nav-item">
		 <a class="nav-link" href="{{ url_for('support') }}" target="_blank"><i class='fas fa-video' style='font-size:24px'></i></a>
	       </li>
	      <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  <i class="fas fa-user-circle" style='font-size:24px'></i>{{session.username}}
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		  <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
	      </li>
       </ul>
   </div>
</nav>
